# OpenAI API 설정 (선택사항 - 없으면 HuggingFace 사용)
#OPENAI_API_KEY=your_openai_api_key_here

# Confluence 접속 정보
CONFLUENCE_URL=
CONFLUENCE_USER=dev01
CONFLUENCE_TOKEN=dev01
# 계정/서버 정보가 들어있는 Confluence 페이지 ID
CONFLUENCE_PAGE_ID=18778728

# Jira 설정 (★)
JIRA_URL=http://jira1.wips.co.kr
JIRA_USERNAME=dev01
JIRA_PASSWORD=dev01
JIRA_EMAIL=dev01@wips.co.kr
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=WATD
MAX_RESULTS=20 # 가져올 이슈 수

# 서버정보
SERVER1_HOST=203.236.86.73
SERVER1_ACCOUNT=hsteel
SERVER1_PASSWORD=MFZ#lok*20256

# Slack 설정 (선택사항)
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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

# 웹 대시보드 설정
DASHBOARD_URL=http://localhost:5000

# 모니터링 설정
WATCH_DIRECTORY=./logs
ERROR_THRESHOLD=3
SUMMARY_INTERVAL=10

# Drain3 설정
DRAIN_SIM_THRESHOLD=0.4
DRAIN_DEPTH=4
DRAIN_MAX_CLUSTERS=1000